@font-face {
	font-family: "font_web";
	src: url("19007.otf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -ms-user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none;
	user-select: none;
    outline: none;
    font-family: "font_web";
}

.main-block {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    color: green;
    padding: 20px 20px;
    font-size: 20px;

    .message {
        margin-bottom: 10px;
    }
}