<!DOCTYPE html>
<html lang="ru-RU">
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="">
        <meta name="discription" content="">
        <meta name="author" content="Peter Lastochkin">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css?v1.2347">
        <link rel="icon" href="" type="image/x-icon">
        <title>Тренировка верстки Num: 2</title>
    </head>
    <body>
        <div class="header">КРУТОЙ TODO ЛИСТ</div>
        <div class="body__content" id="app">

            <div class="block">
                <div class=""><input v-model="text" type="text" placeholder="Ваша запись..."></div>
                <div class=""> {{ text }} </div>
            </div>

            <div class="block">
                <input type="button" v-on:click="addTask()" value="ОТПРАВИТЬ">
            </div>

            <div class="">
                <ul>
                    <li v-for="task in tasks">
                        <div class=""> {{ task.textTask }} </div>
                        <div class=""> {{ task.stateTask }} </div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="footer">КРУТОЙ ПОДВАЛ</div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/index.js"></script>
</html>